namespace: kube-learn
createNamespace: true
api:
  replicas: 2
  image:
    repository: ghcr.io/mizo015/kube-learn
    tag: 8ae14778ecfd8e3456f5cc62f7f98af86f88005b
    pullPolicy: IfNotPresent
  port: 3000
  livenessProbe:
    path: /healthz
    initialDelaySeconds: 5
    periodSeconds: 10
  readinessProbe:
    path: /readyz
    initialDelaySeconds: 5
    periodSeconds: 5
  resources: {}
  serviceMonitor:
    enabled: true
    interval: 30s
    path: /metrics
service:
  type: ClusterIP
  port: 3000
ingress:
  enabled: true
  annotations: {}
  path: /
  pathType: Prefix
db:
  host: postgres
  port: "5432"
  name: kube_learn
  user: postgres
  password: postgres
postgres:
  enabled: true
  image: postgres:16-alpine
  storage: 1Gi
  resources: {}
