{{- if .Values.postgres.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "kube-learn.labels" . | nindent 4 }}
    {{- include "kube-learn.postgresSelectorLabels" . | nindent 4 }}
spec:
  clusterIP: None
  selector:
    {{- include "kube-learn.postgresSelectorLabels" . | nindent 4 }}
  ports:
    - port: 5432
      targetPort: 5432
{{- end }}
